@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Vinyl Store</h1>
    <img src="https://i.pinimg.com/736x/3f/97/38/3f973871057b3f076e38f5c1413b06e6.jpg" alt="Logo" />
    <p><a href="https://docs.microsoft.com/aspnet/core"></a></p>
</div>
